{% extends 'base.html' %}

{% block head_title%}
{{ super() }}: Invertir
{% endblock head_title %}

{% block page_title%}
<h1>Compra de Cryptos</h1>
{% endblock page_title %}

{% block contenido %}

{% if errors %}
<div class="lista-errores">
    <i class="fa-solid fa-xmark fa-lg" style="color: #f50505;"></i>
    Revisa los errores
    {% for error in errors %}
    <p>Hay errores en el formulario:</p>
    <ul>
        {% for msg in error[1] %}
        <li class="mensaje-error">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endif %}

<form action='/purchase' method="post" novalidate>

    {{form.csrf_token}}

    <div class='campo-formulario'>
        {{ form.moneda_from.label }}
        {{ form.moneda_from }}

    </div>
    <div class='campo-formulario'>
        {{ form.cantidad_from.label }}
        {{ form.cantidad_from }}
    </div>
    <div class='campo-formulario'>
        {{ form.moneda_to.label }}
        {{ form.moneda_to }}
    </div>
    </div>
    <div class='campo-formulario'>
        {{form.calcular}}

    </div>
    <div class='campo-formulario'>
        {{form.validar()}}
    </div>

</form>

<div class='campo-formulario2'>
    Cantidad de destino:
    {% if data[1] %}
    {{ data[1]}} {{ data[2] }}
    {% else %}
    {% endif %}

</div>
<div class='campo-formulario2'>
    Precio unitario:
    {% if data[0] %}
    {{ data[0] }} {{data[3]}} / {{data[2]}}
    {% else %}
    {% endif %}
</div>

{% endblock contenido %}