{% extends 'base.html' %}

{% block head_title%}
{{ super() }}: Invertir
{% endblock head_title %}

{% block page_title%}
<h1>Compra de Cryptos</h1>
{% endblock page_title %}

{% block contenido %}
<form action='/purchase' method="post">

    {{form.csrf_token}}

    <div class='campo-formulario'>
        {{ form.moneda_from.label }}
        {{ form.moneda_from }}

    </div>
    <div class='campo-formulario'>
        {{ form.cantidad_from.label }}
        {{ form.cantidad_from }}
    </div>
    <div class='campo-formulario'>
        {{ form.moneda_to.label }}
        {{ form.moneda_to }}
    </div>
    <div class='campo-formulario'>
        {{ form.cantidad_to.label }}
        {{ form.cantidad_to }}

    </div>
    <div class='campo-formulario'>
        {{ form.precio_unitario.label }}
        {{ form.precio_unitario }}

    </div>
    <div class='campo-formulario'>
        {{form.calcular}}

    </div>
    <div class='campo-formulario'>
        {{form.validar()}}
    </div>


</form>

{% endblock contenido %}