{% extends "base.html" %}

{% block head_title%}
{{ super() }}: Resumen de inversiones
{% endblock head_title %}

{% block page_title%}
<h1>Estado de la inversión</h1>
{% endblock page_title %}

{% block contenido %}
<div class='inversion'>
    Invertido:
    {% if data[0] %}
    {{ data[0] }} EUR
    {% else %}
    {% endif %}

</div>
<div class='inversion'>
    Valor Actual:
    {% if data[1] %}
    {{ data[1] }} EUR
    {% else %}
    {% endif %}

</div>
<div class='inversion'>
    Ganancio o perdida:
    {% if data[2] %}
    {{ data[2] }} EUR
    {% else %}
    {% endif %}

</div>

{% endblock contenido %}